<% layout("/layouts/boilerplate") %>

<body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new" >
        <button>Create New Listings</button>
    </form> -->
    <div class="container-fluid">
  <div class="row g-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

  <% for(let listing of allListings){ %>

  <div class="col">
    <a href="/listings/<%= listing._id %>" class="listing-link">
     <div class="card listing-card h-100">
      <img src="<%= listing.image.url %>" class="card-img-top listing-img" alt="">
      
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b><br>
          <span class="price"></span>
          &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : 0 %> /night

        </span>
        </p>
      </div>
    </div>
    </a>
  </div>

  <% } %>

  </div>
</div>

    

    <!-- <ul>
   <% for(let listing  of allListings) { %>
    <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li>

    <% } %>
</ul>
    
</body> -->


